*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}
/* header */
header{
    background: #2687f7;
    width: 100%;
    padding: 10px 20px;
}
.cart{
    background: #0018fb;
    padding: 6px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.cart span{
    margin: 0 10px;
    color: #fff;
}
.search-bar{
    background: #fff;
    max-width: 200px;
}
.search-bar input{
    width: 84%;
    background: transparent;
    border-right: 1px solid gray;
}
.search-bar i{
    color: #000;
}



/* -------------------------- */
.container{
    width: 100%;
    padding: 20px 10px;
}
.rows{
    display: flex;
    flex-wrap: wrap;
}
.col-3{
    width: 25%;
    padding: 10px;
}
.col-6{
    width: 50%;
    padding: 10px;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d-flex-1{
    display: flex;
    align-items: center;
}
button,input{
    border: none;
    outline: none;
    padding: 6px 12px;
}



/*card */

.card{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: relative;
    transition: 0.3s;
}
.card-img img{width: 100%;}

.card-body{
    padding: 10px;
    border-top: 1px solid rgb(207, 206, 206);
}
.price_name p{
    text-justify: auto;
}
.btn{
    margin-top: 10px;
    transition: 0.3s;
}
.btn1{
    background: #5360d4;
    padding: 6px 12px;
    color: #fff;
    border-radius: 3px;

}
.btn1:hover{
    opacity: 0.7;
}
.btn1:first-child{
    background: rgb(218, 74, 102);
}


@media(max-width:776px){
    header{
        padding: 8px;
    }
    .container{
        padding: 10px 8px;
    }
    .col-3{
        width: 50%;
        padding: 5px;
    }
    button,input{
        padding: 7px;
    }
}
@media(max-width:576px){
    header{
        padding: 5px;
    }
    .container{
        padding: 20px 4px;
    }
    .col-3{
        width: 50%;
        padding: 3px;
    }
    .col-6{
        width: 50%;
        padding: 3px;
    }
    button{
        padding: 4px;
        font-size: 10px;
    }


}